<!DOCTYPE html>
<html>
<head>
    <title>Create a New Fact</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="page-container create-container">
        <!-- Navbar -->
        {% include './partials/navbar.html' %}

        <div class="main-container">
            <h1>Create a New Fact</h1>

            <div class="create-fact-container" id="createForm">
                <form action="/create" method="POST">
                    <textarea name="fact_text" placeholder="Enter your fact here..." required></textarea>
                    <!-- TODO: Add a category textarea-->>
                    <button type="submit" class="fact-generator-button">Submit</button>
                </form>
            </div>

            {% if random_fact %}
            <div id="factDisplay">
                <div class="fact-container">
                    <p>New fact created:</p>
                    <strong>{{ random_fact }}</strong>
                    {% if category %}
                    <!-- TODO: Display category here-->>
                    {% endif %}
                </div>
                <button type="button" class="fact-generator-button" onclick="showCreateForm()">Create New Fact</button>
            </div>
            {% endif %}
        </div>

        <!-- Footer -->
        {% include './partials/footer.html' %}
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const factDisplay = document.getElementById('factDisplay');
            const createForm = document.getElementById('createForm');

            if (factDisplay) {
                createForm.style.display = 'none';
                factDisplay.style.display = 'block';
            }
        });

        function showCreateForm() {
            const factDisplay = document.getElementById('factDisplay');
            const createForm = document.getElementById('createForm');
            const textarea = createForm.querySelector('textarea');

            factDisplay.style.display = 'none';
            createForm.style.display = 'block';

            textarea.value = '';
            textarea.focus();
        }
    </script>
</body>
</html>